<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;Cadastro</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/paginas/cadastro/usuario']"><span>Usuário</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/paginas/cadastro/planta']"><span>Planta</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/paginas/cadastro/sensor']"><span>Sensore</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/paginas/cadastro/dispositivo']"><span>Dispositivo</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/paginas/lista/planta']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Plantas
        </a>
        <a [routerLink]="['/paginas/lista/usuario']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;Usuários
        </a>
        <a [routerLink]="['/paginas/lista/sensor']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;Sensores
        </a>
        <a [routerLink]="['/paginas/lista/dispositivo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;Dispositivos
        </a>
    </ul>
</nav>