<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/arvore_icone.png" width="150px" class="user-avatar" />
            <h1>Meu Bonsai</h1>
            <div class="warning" *ngIf="mensagem.length">
                {{mensagem}}
            </div>
            <div class="form-content">
                <div class="form-group">
                    <input name="usuario" [(ngModel)]="usuario.nome" class="form-control input-underline input-lg" autocomplete="off" placeholder="Usuário">
                </div>

                <div class="form-group">
                    <input type="password" [(ngModel)]="usuario.senha" class="form-control input-underline input-lg" id="senha" placeholder="Senha">
                </div>
            </div>
            <a class="btn rounded-btn" href="javascript:;" (click)="onLoggedin()"> Entrar </a> &nbsp;
            <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a>
        </div>
    </div>
</div>