<div class="card card-inverse {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <img src="{{img}}" alt="{{descricao}}" height="42" width="42">
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{nome}}</div>
                <div class="d-block">{{tipo}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">Mais Informações {{data}}</span>
        <a href="javascript:void(0)" class="float-right card-inverse">
            <span><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
</div>